.chat
  .header
    .left-header
      .left-header__title
        = @group.name
      %ul.left-header__members
        Member：
        %li.main-header__left-box__member-list__member 
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .right-header
      .right-header__button
        = link_to edit_group_path(@group) do
          edit
  .messages
    = render @messages
    
  .form
    = form_with model: [@group, @message], html: {class: "Foom"}, local: true do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'